    .services_container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        margin-top: 6rem;
    }
    
    #Service {
        height: 70vh;
    }
    
    .services {
        background-color: var(--color-bg-variant);
        /* padding: 0 3rem; */
        border-radius: 0 0 2rem 2rem;
        border: 1px solid var(--color-primary);
        height: fit-content;
        transition: var(--transitions);
    }
    
    .services:hover {
        background-color: transparent;
        border-color: var(--color-primary-variant);
        cursor: default;
    }
    
    .service_head {
        background-color: var(--color-primary);
        padding: 2rem;
        border-radius: 0 0 2rem 2rem;
        box-shadow: 02rem 1rem rgba(0 0 0, .1);
    }
    
    .service_head h3 {
        color: var(--color-bg);
        font-size: 1rem;
        text-align: center;
    }
    
    .services_list {
        padding: 2rem;
    }
    
    .services_list li {
        display: flex;
        gap: 1rem;
        margin-bottom: .8rem;
    }
    
    .services_list-icon {
        color: var(--color-primary);
        margin-top: 2px;
    }
    
    @media screen and (max-width: 600px) {
        .services_container {
            display: flex;
            flex-direction: column;
        }
        #Service {
            height: auto;
        }
    }