.about_container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 8%;
}

#About {
    height: 90vh;
    transition: var(--transitions);
}

.about_me {
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
}

.about_me-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transitions);
    height: 85%;
}

.about_cards {
    display: grid;
    grid-template-columns: repeat(3, .5fr);
    gap: .4rem;
}

.about_card {
    background-color: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about_card:hover {
    background-color: transparent;
    border-color: var(--color-primary-variant);
    cursor: default;
}

.about_me-image:hover {
    transform: rotate(0);
}

.about_icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_icon h5 {
    font-size: .95rem;
}

.about_card small {
    font-size: .7rem;
    color: var(--color-light);
}

.about_content p {
    margin: 1rem 0 1.6rem;
    color: var(--color-light);
}

@media screen and(max-width:1024px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }
    .about_me {
        width: 100%;
        margin: 2rem auto 4rem;
    }
    .about_content p {
        margin: 1rem 0 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    #About {
        height: 210vh;
    }
    .about_me {
        width: 100%;
        margin: 0 auto .5rem;
        display: grid;
        grid-template-columns: 1fr;
    }
    .about_container {
        display: grid;
        grid-template-columns: auto;
    }
    .about_cards {
        grid-template-columns: 1fr;
        gap: .5rem;
    }
    .about_content {
        text-align: center;
    }
    .about_content p {
        margin: 1rem 0;
    }
    #About {
        height: 230vh;
    }
}