    .portfolio_container {
        display: grid;
        grid-template-columns: repeat(2, .7fr);
        gap: 2.5rem;
    }
    
    #Portfolio {
        height: auto;
    }
    
    .portfolio_item {
        background-color: var(--color-bg-variant);
        padding: 1.3rem;
        border-radius: 2rem;
        border: 1px solid transparent;
        transition: var(--transitions);
    }
    
    .portfolio_item:hover {
        border-color: var(--color-primary-variant);
        background-color: transparent;
    }
    
    .portfolio_item-image {
        border-radius: 1.5rem;
        overflow: hidden;
    }
    
    .portfolio_item h3 {
        margin: 1.2rem 0 2rem;
    }
    
    .portfolio_item-cta {
        display: flex;
        gap: 1rem;
        margin-bottom: 1rem;
    }
    
    @media screen and (max-width:600px) {
        .portfolio_container {
            display: grid;
            grid-template-columns: repeat(1, .6fr);
        }
    }